body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}


#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 20px;
}

.pokemon-card {
    width: 200px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-img {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
}

.pokemon-name {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

#prevBtn,
#nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #0056b3;
}